$textColor: #435161;

#about {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 5%;

    div[class*="row-"] {
        display: flex;
        align-self: center;
        width: 80%;

        color: $textColor;

        h4 {
            font-weight: 700;
            font-size: 24px;
            line-height: 150%;

        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            max-width: 547px;
        }

        @media screen and (max-width: 1000px) {
            width: 90%;
            transition: all 1s;
        }

        @media screen and (max-width: 900px) {
            flex-direction: column;
            width: 100%;
            gap: 2rem;
            transition: all 1s;

            h4 {
                font-size: 20px;
            }

            .left,
            .right {
                width: 90%;
                align-self: center;

                .button-1 {
                    width: 50%;
                }
            }
        }
    }

    .row-1 {
        gap: 5%;

        .left {
            width: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            width: 50%;

            .button {
                border: none;
                color: rgb(255, 255, 255);
                background-color: #2b78eb00;
                padding: 3% 5%;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 1rem;
                margin: 4px 2px;
                width: 25%;
                transition-duration: 0.4s;
                cursor: pointer;

                &.button-1 {
                    border: 2px solid #2E82FF;
                    color: #2E82FF;

                    &:hover {
                        background-color: #2E82FF;
                        color: rgb(235, 255, 12);
                    }
                }
            }
        }
    }

    .row-2 {
        gap: 1rem;

        h4 {
            margin-bottom: 2rem;
        }

        .left,
        .right {
            width: 50%;
        }

        .right {
            display: flex;
            flex-direction: row-reverse;
            // gap: 1rem;
            flex: 1;

            span {
                align-self: center;
            }
        }

        @media screen and (max-width: 1245px) {
            .right {
                flex-direction: column;
            }
        }

        @media screen and (max-width: 900px) {
            .left {
                img {
                    max-width: 90%;
                }
            }

            .right {
                span {
                    align-self: flex-start;
                }

                img {
                    align-self: self-end;
                }
            }

        }
    }
}