#order {
    display: flex;
    justify-content: center;
    margin: 5% 0 5%;
    overflow: hidden;

    .row {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        width: 80%;
        transition: all 1s ease-in-out;

        .right,
        .left {
            width: 50%;
            transition: all 1s ease-in-out;
        }

        .left {
            display: flex;
            align-items: center;
            justify-items: center;

            img {
                width: 100%;
                max-width: 700px;
                transition: all 1s ease-in-out;
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5% 0 5%;
            background: #2E82FF;
            gap: 2rem;

            div {

                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;

                .input {
                    margin: 30px;
                    background: none;
                    border: none;
                    outline: none;
                    max-width: 190px;
                    padding: 10px 20px;
                    font-size: 16px;
                    border-radius: 9999px;
                    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
                    color: #fff;
                }
            }



            // Button --------------------------------------
            .custom-btn {
                width: 130px;
                height: 40px;
                color: #fff;
                border-radius: 5px;
                padding: 10px 25px;
                font-family: 'Lato', sans-serif;
                font-weight: 500;
                background: transparent;
                cursor: pointer;
                transition: all 0.3s ease;
                position: relative;
                display: inline-block;
                box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
                    7px 7px 20px 0px rgba(0, 0, 0, .1),
                    4px 4px 5px 0px rgba(0, 0, 0, .1);
                outline: none;
            }

            .btn-1 {
                background: rgb(9, 44, 240);
                background: linear-gradient(0deg, rgb(9, 44, 240) 0%, rgb(9, 44, 240)100%);
                border: none;
            }

            .btn-1:before {
                height: 0%;
                width: 2px;
            }

            .btn-1:hover {
                box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
                    -4px -4px 6px 0 rgba(116, 125, 136, .5),
                    inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
                    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
            }



        }
    }

    @media screen and (max-width: 1000px) {
        .row {
            width: 90%;
            transition: all 1s;
        }
    }

    @media screen and (max-width: 900px) {
        .row {
            gap: 2rem;
            transition: all 1s;
        }
    }

    @media screen and (max-width: 800px) {
        margin: 10% 0 10%;
        transition: all 1s;
        .row {
            flex-direction: column;

            .left {
                justify-content: center;

                img {
                    width: 90%;
                    transition: all 1s;
                }
            }

            .left,
            .right {
                width: 100%;
                transition: all 1s;
            }
        }

    }
}